/* Overriding default read-only cell styles in Handsontable */
.handsontable .htDimmed {
    color: black; /* Sets text color to black */
    background-color: white; /* Optional: sets background to white */
    font-style: normal; /* Ensures font style is normal */
    font-family: 'Source Han Serif CN VF', sans-serif;
    font-weight: bold;
    font-size: 14px;
}

body {
    font-family: 'LXGW WenKai', sans-serif;
}

button {
    font-family: 'LXGW WenKai', sans-serif;
    padding: 10px 20px;
    background: linear-gradient(to right, #5f6387, #8d5e6a); /* Gradient from blue to pink */
    color: white; /* White text color */
    /*background-color: #4CAF50;*/
    /*color: white;*/
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}